.signin-container{
    height: 100%;

    .signin-card{
        box-shadow:none;
    }

    ion-item{
        --background: transparent;
    }
    
    ion-card{
        --background: transparent;
    }
    
    .signin-logo{
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }
    
    ion-card-title{
        text-align: center;
    }
    
    .signin-btn{
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: 240px;
        height: 45px;
        --background: #ccc5b9;
        color: #121212;
        img{
            width: 40px;
            height: 40px;
            padding: 2px 5px;
            display: flex;
            align-items: center;
        }
    }
    
    .sm-col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .email-signin-btn{
        --background: #7bdff2;
    }

    .sign-up-container{
        display: flex;
        flex-direction: row;
        align-items: center;

        .sign-up-cta{
            height: 18px;
            text-transform: lowercase;
            font-size: 16px;
            --background: transparent;
            width: 70px;
            letter-spacing: 0.15px;
            color: #a2d6f9;
            button{
                height: 18px;
            }
        }
    }

    .password-reset-container{
        display: flex;
        flex-direction: row;
        align-items: center;

        .password-reset-cta{
            height: 18px;
            text-transform: lowercase;
            font-size: 16px;
            --background: transparent;
            width: 70px;
            letter-spacing: 0.15px;
            color: #a2d6f9;
            button{
                height: 18px;
            }
        }
    }
    .user-acc-col{
        display: flex;
        .user-acc-error{
            width: 100%;
            color: #ff5400;
            text-align: center;
    
        }
    }
    
}
