#container{
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  ion-grid{
    width: 100%;
    ion-row{
      height: 100%;

      ion-col{
        height: 100%;

        .welcome-wrapper{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          align-items: center;
          .welcome-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 200px;
            text-align: center;
            padding: 5px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .welcome-logo{
    width: 150px;
    height: 150px;
  }
}

lottie-player{
  margin: auto;
}